<!DOCTYPE html>
<html>
<head>
	<title>Hi there. This is Mark's page.</title>
	<link rel="stylesheet" href="main.css">
	
</head>
<body>
	
	<div class="sidenav">
	  <a href="/about">About</a>
	  <a href="/stripe">Stripe</a>
	  <a href="/contact">Contact</a>
	</div>
	
	<div class="main">
	
        <%= yield %>
	
    </div>

</html>